<div class="container">
    <div class="row">


	<div class="col-md-3 col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">系统状态</div>
			<div class="panel-body">
        <a class="btn btn-primary btn-sm btn-block">创建爬虫</a>
        <a class="btn btn-default btn-sm btn-block">最近任务</a>
			</div>

     <ul class="list-group">
        <li class="list-group-item">
          <span class="text-success">fetcher2processor:</span>
          <span class="badge">[$ queues.fetcher2processor $]</span>
        </li>
        <li class="list-group-item">
          <span class="text-success">processor2result:</span>
          <span class="badge">[$ queues.processor2result $]</span>
        </li>
        <li class="list-group-item">
          <span class="text-success">scheduler2fetcher:</span>
          <span class="badge">[$ queues.scheduler2fetcher $]</span>
        </li>
        <li class="list-group-item">
          <span class="text-success">status_queue:</span>
          <span class="badge">[$ queues.status_queue $]</span>
        </li> 
        <li class="list-group-item" ng-controller="CreateNewSpider">

<form name="createSpiderForm" ng-submit="create_new_spider()" novalidate class="form">

  <div class="form-group">

      <div class="form-group  has-feedback" ng-class="{'has-error':(createSpiderForm.project_name.$touched && createSpiderForm.project_name.$invalid),'has-success':(createSpiderForm.project_name.$touched && !createSpiderForm.project_name.$invalid)}">

    <input type="text" class="form-control" placeholder="project name"  name="project_name" ng-model="newproject.project_name" ng-pattern="/[a-zA-Z][a-z0-9A-Z_-]+/" required/>

        <span class="glyphicon  form-control-feedback" aria-hidden="true" ng-class="{'glyphicon-remove':(createSpiderForm.project_name.$touched && createSpiderForm.project_name.$invalid),'glyphicon-ok':(createSpiderForm.project_name.$touched && !createSpiderForm.project_name.$invalid)}"></span>
      </div> 
  </div>
  <div class="form-group">
      <div class="form-group  has-feedback" ng-class="{'has-error':(createSpiderForm.start_url.$touched && createSpiderForm.start_url.$invalid),'has-success':(createSpiderForm.start_url.$touched && !createSpiderForm.start_url.$invalid)}">

        <input type="text" class="form-control" placeholder="start url start with http[s]://" name = "start_url" ng-model="newproject.start_url" ng-pattern="/https?:\/\/[a-z-0-9A-Z-_\.\?\&]+/" required/>

        <span class="glyphicon  form-control-feedback" aria-hidden="true" ng-class="{'glyphicon-remove':(createSpiderForm.start_url.$touched && createSpiderForm.start_url.$invalid),'glyphicon-ok':(createSpiderForm.start_url.$touched && !createSpiderForm.start_url.$invalid)}"></span>
      </div>                 
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit" ng-disabled="createSpiderForm.start_url.$invalid" value="Save">创建爬虫</button>
  </div>              
</form>


        </li>                
      </ul>

			<div class="panel-footer">
         <a class="btn btn-sm btn-warning" ng-click="refresh()" ng-disabled="AUTO_REFRESH">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
           </a>

           <a class="btn  btn-sm" ng-class="{true: 'btn-success', false: 'btn-default'}[AUTO_REFRESH]" ng-disabled="AUTO_REFRESH" ng-click="start_auto_refresh()">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          </a>

           <a class="btn btn-sm" ng-class="{true: 'btn-default', false: 'btn-danger'}[!AUTO_REFRESH]" ng-disabled="!AUTO_REFRESH" ng-click="stop_auto_refresh()">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
          </a>
      </div>
		</div>
	</div>
<!-- 以上是左侧栏，以下是右侧栏 -->
	<div class="col-md-9 col-sm-9">
    <uib-alert close="close_alert()" ng-show="SHOW_ALERT">[$ alert.msg $] project in [$ alert.status $]</uib-alert>
	  <table class="table">
      <caption>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

      </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>分组</th>
          <th>spider</th>
          <th>burst/rate</th>
          <th>status</th>
		  <th>operation</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="project in projects | filter:search">
          <th scope="row">[$ $index $]</th> <!-- 显示序号 -->
          <td>
          	
            <span uib-popover-template="'changeGroupTemplate.html'" popover-title="分组" popover-placement='right' popover-trigger="outsideClick" class="label label-default">
          		[$ project.group | null2group $]
            </span>
          </td>		<!-- 显示分组 -->

          <td><a href="#/debug/[$ project.name $]">[$project.name$]</a></td>			<!-- 工程名 -->
          <td>
              <span uib-popover-template="'changeBRTemplate.html'" popover-title="并发/速度" popover-placement='right' popover-trigger="outsideClick" class="label label-primary">
              	[$project.burst$]/[$project.rate$]
              </span>
          </td>  <!-- 并发与速度 -->


          <td>
              <span uib-popover-template="'changeStatusTemplate.html'" popover-title="修改状态" ng-bind="project.status" popover-placement='right' popover-trigger="outsideClick" class="label" ng-class="{'label-danger':project.status == 'STOP','label-success':project.status=='RUNNING','label-warning':project.status=='CHECKING','label-primary':project.status=='TODO','label-info':project.status=='DEBUG'}"></span>
		      </td><!-- 运行状态 -->

          <td>
            <a  class="btn btn-default btn-sm" uib-popover-template="'monitorTemplate.html'" popover-title="运行状况" popover-placement='bottom-left' popover-trigger="mouseenter">monitor</a>
            <a  class="btn btn-default btn-sm" ng-click = "run(project)">run</a>
            <a  class="btn btn-default btn-sm" href="#/result/[$ project.name $]">result</a>
            <a  class="btn btn-default btn-sm">task</a>

          </td>

        </tr>
    </table>

		<a href="#/task">task page</a>/
		<a href="#/result">result page</a>


	</div>

    <script type="text/ng-template" id="monitorTemplate.html">
        <div class="col-md-12">

<table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>5m</th>
          <th>1d</th>
          <th>1h</th>
          <th>all</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></th>
          <td>[$ project.monitor["5m"]["pending"] | null2zero $]</td>
          <td>[$ project.monitor["1h"]["pending"] | null2zero $]</td>
          <td>[$ project.monitor["1d"]["pending"] | null2zero $]</td>
          <td>[$ project.monitor["all"]["pending"] | null2zero $]</td>
        </tr>
        <tr>
          <th scope="row"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></th>
          <td>[$ project.monitor["5m"]["retry"] | null2zero $]</td>
          <td>[$ project.monitor["1h"]["retry"] | null2zero $]</td>
          <td>[$ project.monitor["1d"]["retry"] | null2zero $]</td>
          <td>[$ project.monitor["all"]["retry"] | null2zero $]</td>
        </tr>
        <tr>
          <th scope="row"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
          <td>[$ project.monitor["5m"]["success"] | null2zero $]</td>
          <td>[$ project.monitor["1h"]["success"] | null2zero $]</td>
          <td>[$ project.monitor["1d"]["success"] | null2zero $]</td>
          <td>[$ project.monitor["all"]["success"] | null2zero $]</td>
        </tr>

      </tbody>
</table>                    

  <ul class="list-inline">
    <li><span class="glyphicon glyphicon-transfer" aria-hidden="true">:newtask</li>
    <li><span class="glyphicon glyphicon-question-sign" aria-hidden="true">:重试</li>
    <li><span class="glyphicon glyphicon-ok" aria-hidden="true">:成功</li>
  </ul>

        </div>
    </script>

    <script type="text/ng-template" id="changeGroupTemplate.html">
      <div class="form-group">
         <input class="form-control input-sm" ng-model="project.group" placeholder="分组"></input>
      </div>
      <a class='btn btn-default btn-sm' ng-click="update(project.name,'group',project.group)">更新</a>
    </script>

    <script type="text/ng-template" id="changeBRTemplate.html">
      <div class="form-group">
        <label class=" control-label">并发</label>
        <input class="form-control input-sm" ng-model="project.burst"></input>
      </div>

      <div class="form-group">
          <label class="control-label">速度</label>
          <input class="form-control input-sm" ng-model="project.rate"></input>     
      </div>
          <a class='btn btn-default btn-sm' ng-click="update(project.name,'rate',project.rate+'/'+project.burst)">更新</a>
    </script>    

    <script type="text/ng-template" id="changeStatusTemplate.html">
      <div class="col-md-12">
        <div class="input-group">
            <select class="form-control input-sm" ng-model="project.status" ng-options="m for m in STATUS"></select>
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button" ng-click="update(project.name,'status',project.status)">更新</button>
          </span>
        </div>
        <p>&nbsp;</p>
      </div>
    </script>

  </div>
</div>