
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">系统状态</div>
			<div class="panel-body">
				[$ hello $] moto....
				<a class="btn btn-default btn-sm" ng-click="refresh_projects()">刷新</a>
			</div>
			
		</div>
	</div>

	<div class="col-md-9">
		
	<table class="table">
      <caption>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>分组</th>
          <th>spider</th>
          <th>burst/rate</th>
          <th>status</th>
		  <th>operation</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="project in projects | filter:search">
          <th scope="row">[$ $index $]</th> <!-- 显示序号 -->
          <td>
          	
            <span uib-popover-template="'changeGroupTemplate.html'" popover-title="分组" popover-placement='right' popover-trigger="outsideClick" class="label label-default">
          		[$ project.group|spidergroup $]
            </span>
          </td>		<!-- 显示分组 -->

          <td><a href="#">[$project.name$]</a></td>			<!-- 工程名 -->
          <td>
              <span uib-popover-template="'changeBRTemplate.html'" popover-title="并发/速度" popover-placement='right' popover-trigger="outsideClick" class="label label-primary">
              	[$project.burst$]/[$project.rate$]
              </span>
          </td>  <!-- 并发与速度 -->


          <td>
              <span uib-popover-template="'changeStatusTemplate.html'" popover-title="修改状态" ng-bind="project.status" popover-placement='right' popover-trigger="outsideClick" class="label label-danger"></span>
		      </td><!-- 运行状态 -->

          <td>
            <a  class="btn btn-default btn-sm">设置</a>
          </td>

        </tr>
    </table>

		<a href="#/task">task page</a>/
		<a href="#/result">result page</a>


	</div>

    <script type="text/ng-template" id="changeGroupTemplate.html">
      <div class="form-group">
         <input class="form-control input-sm" ng-model="project.group" placeholder="分组"></input>
      </div>
      <a class='btn btn-default btn-sm'>更新</a>
    </script>

    <script type="text/ng-template" id="changeBRTemplate.html">
      <div class="form-group">
        <label class=" control-label">并发</label>
        <input class="form-control input-sm" ng-model="project.burst"></input>
      </div>

      <div class="form-group">
          <label class="control-label">速度</label>
          <input class="form-control input-sm" ng-model="project.rate"></input>     
      </div>
          <a class='btn btn-default btn-sm'>更新</a>
    </script>    

    <script type="text/ng-template" id="changeStatusTemplate.html">
      <div class="col-md-12">
        <div class="input-group">
            <select class="form-control input-sm" ng-model="project.status" ng-options="m for m in STATUS"></select>
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button">Go!</button>
          </span>
        </div>
        <p>&nbsp;</p>
      </div>
    </script>