

 <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
     <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only"></span>
            <span class="glyphicon glyphicon-tasks"></span>     
            </button>
            <a class="navbar-brand" href="angular#/" style="padding-top:9px;">
                <img src="/static/image/favicon.png" width="58" >
            </a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bnavbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#my-work">HELLO</a></li>
                <li><a href="#my-skill">W</a></li>
                <li><a href="#my-education">E</a></li>
                <li><a href="#my-contact">B</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
 </nav>