

 <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
     <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only"></span>
            <span class="glyphicon glyphicon-tasks"></span>     
            </button>
            <a class="navbar-brand" href="#/" style="padding-top:9px;">
                <img src="/static/image/favicon.png" width="58" >
            </a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bnavbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">WEB</a></li>
                <li><a href="#/">L</a></li>
                <li><a href="#/">O</a></li>
                <li><a href="#/">C</a></li>
                <li><a href="#/">U</a></li>
                <li><a href="#/">S</a></li>
                <li><a href="#/">T</a></li>            
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="http://www.getqiu.com/static/weblocust/" target="_blank">DOCUMENT</a></li>        
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
 </nav>